<%= form_with(model: recip, class: "form-horizontal") do |form| %>
  <% if recip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recip.errors.count, "error") %> prohibited this recip from being saved:</h2>

      <ul>
        <% recip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_area :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :preparation_time, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_area :preparation_time, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :cooking_time, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_area :cooking_time, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= form.text_area :description, rows: 7, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
  <div class="col-sm-10 d-flex justify-content-center">
    <div>
      <%= form.check_box :public, class: "form-check-input", style: "font-size: 20px" %>
    </div>
    <div> 
      <%= form.label :public, class: "form-check-label", style: "font-size: 20px" %>
    </div>
  </div>
</div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
