<%# <h1>Add Food ingredient to Recipe</h1>

<%= form_with(model: @recipe_food, url: recip_recipe_foods_path(params[:recip_id]), method: :post, local: true) do |form| %>
  <%# <%= form.collection_select :food_id, Food.all, :id, lambda { |food| "#{food.name} (#{food.measurement_unit})" }, prompt: "Select Food" %>
  <%# <%= form.label :quantity, "Quantity" %> 
  <%# <%= form.text_field :quantity %> 
  <%# <%= form.submit "Add Food to Recipe" %> 
<%# <% end %>

<%# <%= link_to "Back to Recipe", recip_path(@recipe) %> 
