<div class="container">
  <h2>Shopping List</h2>
  <p>Amount of food items to buy: <span class="badge bg-secondary"><%= @total_foods %></span></p>
  <p>Total value of food needed: <span class="badge bg-secondary">$<%= @total_value %></span></p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody class="text-white">
      <% @shopping_list.each do |food_name, quantity| %>
        <tr>
          <td><%= food_name %></td>
          <td><%= quantity %><span> <%= Food.find_by(name: food_name).measurement_unit%></span></td>
          <td>$ <%= "#{quantity * Food.find_by(name: food_name).price}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


