<%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Name %>
    <%= form.text_area :name %>
  </div>
  <div>
    <%= form.label :Measurement_unit %>
    <%= form.text_area :measurement_unit %>
  </div>
  <div>
    <%= form.label :Price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :Quantity %>
    <%= form.text_area :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
