
<%= form_with(model: @recipe_food, url: recip_recipe_foods_path(params[:recip_id]), method: :post, local: true) do |form| %>
  <% if recipe_food.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>

      <ul>
        <% recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :food_id, "Food" %>
    <%= form.collection_select :food_id, @foods, :id, lambda { |food| "#{food.name} (#{food.measurement_unit})" }, { prompt: "Select Food" }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :quantity, "Quantity" %>
    <%= form.text_field :quantity, class: "form-control" %>
  </div>
  <%= form.submit "Add Food to Recipe", class: "btn btn-primary" %>
<% end %>


